* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Bad Script', sans-serif;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.item {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #aeaeae;
  flex-basis: 25%;
  transition: all 0.2s;
}
.item:hover {
  flex-basis: 50%;
}
.item-1 {
  background: url('img/nat1.jpg');
}
.item-2 {
  background: url('img/nat2.jpg');
}
.item-3 {
  background: url('img/nat3.jpg');
}
.item-4 {
  background: url('img/nat4.jpg');
}
.item-5 {
  background: url('img/nat5.jpg');
}
