.container {
  display: flex;
  height: 500px;
  background-color: rgba(0, 0, 0, .1);
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
}

.item {
  background-color: #ccc;
  border: 1px solid red;
  flex-basis: 100px;
  text-align: center;
}

.active {
  order: 1;
  background-color: purple;
  color: #fff;
  /* flex-grow: 1; */
  flex-shrink: 1;
}








