.header__title {
  color: #BA68C8;
}
.header__text {
  color: #863694;
}
.header__button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  background-color: #BA68C8;
  -webkit-box-shadow: 1px 5px 20px #cb8dd6;
          box-shadow: 1px 5px 20px #cb8dd6;
}
